.filter__form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "price fieldsets"
      "buttons buttons";
    grid-template-columns: 230px 1fr;
    column-gap: 23px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.filter__heading {
  font-family: $montserrat-semi-bold;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}


.filter__fieldsets {
  @media (min-width: $tablet-width) {
    grid-area: fieldsets;
    display: flex;
    gap: 42px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    gap: 0;
  }
}

.filter__fieldset {
  border: 0;
  margin: 0;
  padding: 0;

  &--available {
    margin-top: 30px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &--country {
    margin-top: 10px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      margin-top: 7px;
    }
  }
}

.filter__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    grid-area: buttons;
    margin-top: 16px;
    flex-direction: row;
    justify-content: center;
  }
}

.filter__buttons-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 277px;
    justify-content: space-between; 
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    gap: 18px;
  }
}

.filter__button {
  width: auto;
  font-family: $montserrat-regular;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 9px;
  border: 0;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
    cursor: not-allowed;
  }

  @media (min-width: $tablet-width) {
    padding: 8px 4px;
  }

  &--apply {
    color: $white;
    background-color: $base-primary;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      width: 137px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      width: 150px;
    }
  }

  &--reset {
    color: $base-primary;
    background-color: $white;

    &:hover,
    &:focus,
    &:active {
      color: $white;
    }

    &:disabled {
      background-color: $light-grey;
      color: $white;
    }

    @media (min-width: $tablet-width) {
      width: 120px;
    }

    @media (min-width: $desktop-width) {
      width: 150px;
    }
  }
}

.filters-price {

  @media (min-width: $tablet-width) {
    width: 223px;
  }
}

.filters-price__inputs {
  display: flex;
  width: 222.5px;
  position: relative;
  justify-content: space-between;
}

.filters-price__label {
  display: flex;
  align-items: center;
  width: 118px;
  height: 40px;
  border: 2px solid #9070ec;
  border-radius: 4px;
  padding: 9px 39.5px 6px;
  margin-top: 13px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 87px;
    height: 40px;
    margin-top: 10px;
    padding: 8px 23.5px 6px;
  }

}

.filters-price__label--empty {
  padding: 9px 49.5px 6px;

  @media (min-width: $tablet-width) {
    padding: 9px 34.5px 7px;
  }
}

.filters-price__input {
  font-family: $montserrat-medium;
  font-size: 16px;
  line-height: 24px;
  border: none;
  color: #4D4D4D;
  background-color: inherit;
  font-size: 16px;
}


.filters-price__input ::-webkit-outer-spin-button,
.filters-price__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filters-price__input[type="number"] {
  appearance: textfield;
}

.filter-price__control-divider {
  position: absolute;
  height: 2px;
  width: 8px;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #bdbdbd;
}

.filters-price__title {
  font-family: $montserrat-semi-bold;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding-bottom: 29px;
}

.filters-price__slider {
  margin-bottom: 21px;
}

.noUi-connect {
  background-color: #9070ec;
}

.noUi-target {
  background-color: #bfbfbf;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  height: 4px;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-handle {
  box-shadow: none;
  border-radius: 100%;
  background-color: #ffffff;
  border: 2px solid #9070ec;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  top: -10px;
  right: -24px
}

.noUi-horizontal .noUi-handle-upper {
  right: -8px;

  @media (min-width: $tablet-width) {
    right: -2.5px;
  }
}