.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 41px;

  @media (min-width: $tablet-width) {
    margin-top: 41px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.sorting__wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.sorting__text {
  font-family: $montserrat-semi-bold;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-left: 4px;

  @media (min-width: $tablet-width) {
    padding-right: 11px;
  }
}

.sorting__select {
  display: inline-block;
  position: relative;
  margin-left: 9px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    width: 10px;
    height: 10px;
    background-image: url("../../images/sprite.svg#select-arrow");
    top: 11px;
    right: 11px;
  }
}

.sorting__select svg {
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  right: 11px;

  &:active {
    .sorting__select svg {
      transform: scaleY(-1);
    }
  }
}

.sorting__values {
  font-family: $montserrat-semi-bold;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $base-primary;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  appearance: none;
  min-height: 28px;
  width: 156px;
  padding-right: 27px;

  &:hover,
  &:focus {
    background-color: $base-secondary;
  }
}

.sorting__control {
  font-family: $montserrat-regular;
  font-weight: 400;
  color: $base-black;
  font-size: 16px;
  line-height: 24px;
}
