.copyright__link {
  display: flex;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:active {
    color: $primary-darker;
  }
}

.copyright__icon {
  margin-left: 2px;
}

.copyright__text {
  color: $base-grey;
}
